<a href="https://colab.research.google.com/github/Leocadio22/Repositorio_Luiz/blob/main/C%C3%B3pia_de_EXERC%C3%8DCIO_1_10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#EXERCÍCIO 5.3
print("Luiz")

Luiz

In [ ]:
#EXERCÍCIO 5.4
a = 3
b = 5
print(2*a * 3*b )

90

In [ ]:
#EXERCÍCIO 5.5
a = 4
b = 5
c = 8
print(a + b + c )

17

In [ ]:
#EXERCÍCIO 5.6
salario = 750
aumento = 15
print (salario + (salario * 15/100))

862.5

In [ ]:
#EXERCÍCIO 5.7
mt = 1
cm = float(input("DIGITE A DISTANCIA EM CENTIMETRO "))
cm = mt * 10
print("A distância em {} cm".format(cm))

DIGITE A DISTANCIA EM CENTIMETRO 3
A distância em 10 cm

In [ ]:
#EXERCÍCIO 5.8
print("--" * 12)
print("<><><> TABUADA <><><>")
numero = int(input("DIGITE O NUMERO DA TABUADA DESEJADA: "))
print('{} x {:2} = {}'.format(numero, 1, numero * 1))
print("{} x {:2} = {}".format(numero, 2, numero * 2))
print('{} x {:2} = {}'.format(numero, 3, numero * 3))
print('{} x {:2} = {}'.format(numero, 4, numero * 4))
print('{} x {:2} = {}'.format(numero, 5, numero * 5))
print('{} x {:2} = {}'.format(numero, 6, numero * 6))
print('{} x {:2} = {}'.format(numero, 7, numero * 7))
print('{} x {:2} = {}'.format(numero, 8, numero * 8))
print('{} x {:2} = {}'.format(numero, 9, numero * 9))
print('{} x {:2} = {}'.format(numero, 10, numero * 10))
print("<><><> FIM <><><>")

------------------------
<><><> TABUADA <><><>
DIGITE O NUMERO DA TABUADA DESEJADA: 7
7 x  1 = 7
7 x  2 = 14
7 x  3 = 21
7 x  4 = 28
7 x  5 = 35
7 x  6 = 42
7 x  7 = 49
7 x  8 = 56
7 x  9 = 63
7 x 10 = 70
<><><> FIM <><><>

In [ ]:
#EXERCÍCIO 5.9
nota1 = float(input("DIGITE A PRIMEIRA NOTA "))
nota2 = float(input("DIGITE A SEGUNDA NOTA "))
media = (nota1 + nota2) / 2
print("A NOTA 1 FOI {}\nA NOTA 2 FOI {}\nA MÉDIA OBTIDA FOI {}".format(nota1, nota2, media))

DIGITE A PRIMEIRA NOTA 5
DIGITE A SEGUNDA NOTA 7
A NOTA 1 FOI 5.0
A NOTA 2 FOI 7.0
A MÉDIA OBTIDA FOI 6.0

In [ ]:
#EXERCÍCIO 5.10
salario = float(input("DIGITE O SALÁRIO ATUAL R$ "))
taxa1 = 15
taxa2 = 10
taxa3 = 5
aumento1 = salario + (salario * taxa1/100)
aumento2 = salario + (salario * taxa2/100)
aumento3 = salario + (salario * taxa3/100)
print("O NOVO SALÁRIO COM O REAJUSTE PARA AS 3 SITUAÇÕES SÃO :\nSITUACÃO 1 R${} TEVE UM AUMENTO DE R${} COM TAXA DE {}%\nSITUAÇÃO 2 R${}\nSITUAÇÃO 3 R${}".format(aumento1,salario*taxa1/100,taxa1, aumento2, aumento3))

DIGITE O SALÁRIO ATUAL R$ 5000
O NOVO SALÁRIO COM O REAJUSTE PARA AS 3 SITUAÇÕES SÃO :
SITUACÃO 1 R$5750.0 TEVE UM AUMENTO DE R$750.0 COM TAXA DE 15%
SITUAÇÃO 2 R$5500.0
SITUAÇÃO 3 R$5250.0

In [ ]:
#EXERCÍCIO 5.11
print("<><><> SOMA DE DOIS ALGORITMO<><><>")
num1 = int(input("DIGITE O PRIMEIRO NÚMERO "))
num2 = int(input("DIGITE O SEGUNDO NÚMERO "))
SOMA = num1 + num2

print("O PRIMEIRO NÚMERO FOI {}\nO SEGUNDO NÚMERO FOI {}\nA SOMA É {} ".format(num1, num2, SOMA))

<><><> SOMA DE DOIS ALGORITMO<><><>
DIGITE O PRIMEIRO NÚMERO 8
DIGITE O SEGUNDO NÚMERO 8
O PRIMEIRO NÚMERO FOI 8
O SEGUNDO NÚMERO FOI 8
A SOMA É 16

In [ ]:
#EXERCÍCIO 5.12
print("<><><><><><>")
NUM1 = float(input("DIGITE O PRIMEIRO NÚMERO "))
NUM2 = float(input("DIGITE O SEGUNDO NÚMERO "))

SOM= NUM1 + NUM2
SUBT =NUM1 - NUM2
MULT = NUM1 * NUM2 
DIVI  = NUM1 / NUM2

print("A SOMA É :{}\nA SUBTRAÇÃO É :{}\nA MULTIPLICAÇÃO É :{}\nA DIVISÃO É :{} ".format(SOM,SUBT,MULT,DIVI))

<><><><><><>
DIGITE O PRIMEIRO NÚMERO 9
DIGITE O SEGUNDO NÚMERO 9
A SOMA É :18.0
A SUBTRAÇÃO É :0.0
A MULTIPLICAÇÃO É :81.0
A DIVISÃO É :1.0

In [ ]:
#EXERCÍCIO 5.13
print("<><><> CONSUMO MÉDIO DE UM ALTOMÁVEL<><><>")
distancia = float(input("INFORME A DISTÂNCIA TOTAL PERCORIDA "))
combustivel_gasto = float(input("INFORME O COMBUSTIVEL GASTO "))
consumo_medio = distancia / combustivel_gasto
print("A DISTÂNCIA TOTAL PERCORRIDA FOI {} KM\nO CONSUMO DE COMBUSTIVEM GASTO FOI {} L\nO CONSUMO MEDIO É {} KM/L".format(distancia, combustivel_gasto, consumo_medio))

<><><> CONSUMO MÉDIO DE UM ALTOMÁVEL<><><>
INFORME A DISTÂNCIA TOTAL PERCORIDA 600
INFORME O COMBUSTIVEL GASTO 40
A DISTÂNCIA TOTAL PERCORRIDA FOI 600.0 KM
O CONSUMO DE COMBUSTIVEM GASTO FOI 40.0 L
O CONSUMO MEDIO É 15.0 KM/L

In [ ]:
#EXERCÍCIO 5.14
print("<><><> RELATÓRIO DE PAGAMENTO DO TIME DE VENDO<><><>")
NOME = str(input("INFORME O NOME DO VENDEDOR "))
SAL_FIXO = float(input("INFORME O SALÁRIO ATUAL DO VENDEDOR "))
TOTAL_VENDAS = float(input("INFORME O TOTAL DAS VENDAS "))
TAXA = float(input("INFORME A TAXA DE COMISSÃO "))
COMISSÃO = TOTAL_VENDAS * (TAXA / 100)
SAL_FINAL = SAL_FIXO + COMISSÃO

print("O NOME DO VENDEDOR É :{}\nO SALÁRIO FIXO É R$ {}\nTOTAL DE COMISSÃO A RECEBER R$ {}\nO SALÁRIO FINAL A RECEBER R$ {}".format(NOME, SAL_FIXO,COMISSÃO, SAL_FINAL))

<><><> RELATÓRIO DE PAGAMENTO DO TIME DE VENDO<><><>
INFORME O NOME DO VENDEDOR LUIZ
INFORME O SALÁRIO ATUAL DO VENDEDOR 6000
INFORME O TOTAL DAS VENDAS 60000
INFORME A TAXA DE COMISSÃO 1.5
O NOME DO VENDEDOR É :LUIZ
O SALÁRIO FIXO É R$ 6000.0
TOTAL DE COMISSÃO A RECEBER R$ 900.0
O SALÁRIO FINAL A RECEBER R$ 6900.0

In [ ]:
#EXERCÍCIO 5.15

print("<><><> RELATÓRIO DA MÉDIA DOS ALUNOS<><><>")
NOME = str(input("DIGITE O NOME DO ALUNO "))
NOT1 = float(input("INFORME A PRIMEIRA NOTA "))
NOT2 = float(input("INFORME A SEGUNDA NOTA "))
NOT3 = float(input("INFORME A TERCEIRA NOTA "))
MEDIA = (NOT1 + NOT2 + NOT3) / 3 
print("O NOME DO ALUNO É {}\nSUA MEDIA É {}".format(NOME, MEDIA))

<><><> RELATÓRIO DA MÉDIA DOS ALUNOS<><><>
DIGITE O NOME DO ALUNO LUIZ
INFORME A PRIMEIRA NOTA 9
INFORME A SEGUNDA NOTA 9
INFORME A TERCEIRA NOTA 9
O NOME DO ALUNO É LUIZ
SUA MEDIA É 9.0

In [ ]:
#EXERCÍCIO 5.16
A = int(input("INFORME O VALOR DE A "))
B = int(input("INFORME O VALOR DE B "))
A = B
B = A
print(" A {}\nINFORME B {}".format(A, B))

INFORME O VALOR DE A 5
INFORME O VALOR DE B 4
INFORME A 4
INFORME B 4

In [4]:
#EXERCÍCIO 5.17
print( "<><><> CONVERSOR DE TEMPERATURA <><><> ")
C = float(input("INFORME A TEMPERATURA EM CELSEUS "))
F = (9 * C + 160) / 5
print("A TEMPERATURA EM FAHRENHEIT É :{}F\nA TEMPERATURA EM CELSEUS É :{}C".format(F, C))

<><><> CONVERSOR DE TEMPERATURA <><><>
INFORME A TEMPERATURA EM CELSEUS 35
A TEMPERATURA EM FAHRENHEIT É :95.0F
A TEMPERATURA EM CELSEUS É :35.0C

In [11]:
#EXERCÍCIO 5.18
print("=== CONVERSÃO DE REAL(R$) PARA DÓLAR($$)===")
REAL = float(input("INFORME UMA QUANTIA EM REAIS (R$) "))
COTACAO = float(input("INFORME O VALOR DO DÓLAR $$ "))
DOLAR = REAL / COTACAO
print("COM O VALOR DE R${} VOCÊ COMPRA $${}".format(REAL, DOLAR))

=== CONVERSÃO DE REAL(R$) PARA DÓLAR($$)===
INFORME UMA QUANTIA EM REAIS (R$) 500
INFORME O VALOR DO DÓLAR $$ 6.45
COM O VALOR DE R$500.0 VOCÊ COMPRA $$77.51937984496124

In [15]:
print("====<> RENDIMENTO DA POUPANÇA<>====")
# TAXA DE RENDIMENTO AO MÊS DE 0.70%
TAXA = 0.07
DEPOSITO = float(input("INFORME O VALOR DEPOSITADO R$ "))
RENDIMENTO = (TAXA + 1) * DEPOSITO
print("O RENDIMENTO APÓS UM MÊS FOI R${}".format(RENDIMENTO))

====<> RENDIMENTO DA POUPANÇA<>====
INFORME O VALOR DEPOSITADO R$ 5000
O RENDIMENTO APÓS UM MÊS FOI R$5350.0